/* Default Dark */

.theme-default-dark {
    background-color: #151515;
    color: #FFF;
}
.theme-default-dark .bar {
    background-color: #333;
}
.theme-default-dark .bar-tile,
.theme-default-dark .exit-room {
    border-color: #888;
}
.theme-default-dark .server-content {
    color: #AAA;
}

/* Old */

@font-face {
    font-family: 'Web IBM DOS ISO8';
    font-style: normal;
    font-weight: 400;
    src: url("web_ibm_dos_iso8.woff") format('woff');
}

.theme-old {
    font-family: 'Web IBM DOS ISO8', sans-serif;
}
.theme-old > .bar:nth-child(1) .bar-tile {
    background-color: #AAF;
    border-color: #CCF #88D #88D #CCF;
}
.theme-old > .bar:nth-child(1) .bar-tile:active {
    border-color: #88D #CCF #CCF #88D;
}

.theme-old .bar-tile,
.theme-old .exit-room {
    border-color: #DEDEDE #888 #888 #DEDEDE;
}
.theme-old .bar-tile:active,
.theme-old .exit-room:active {
    border-color: #888 #DEDEDE #DEDEDE #888;
}

/* Terminal */

.theme-terminal {
    font-family: 'Web IBM DOS ISO8', sans-serif;
    background-color: #111;
    color: #FFF;
}
.theme-terminal .message {
    color: #3F3;
}
.theme-terminal .server-content {
    color: #AAA;
}

.theme-terminal .bar {
    background-color: #333;
}

.theme-terminal .bar-tile,
.theme-terminal .exit-room {
    border-color: #555 #222 #222 #555;
}
.theme-terminal .bar-tile:active,
.theme-terminal .exit-room:active {
    border-color: #222 #555 #555 #222;
}

/* Neon */

@font-face {
    font-family: 'Envy Code R';
    font-style: normal;
    font-weight: 400;
    src: url("envy_code_r.ttf") format('truetype');
}

.theme-neon {
    font-family: 'Envy Code R', monospace;
    background-color: #111;
    color: #FFF;
}
.theme-neon .bar {
    background-color: #252525;
    outline: 2px solid #ACF;
    box-shadow: 0px 0px 4px 4px #ACF;
}

.theme-neon .bar-tile,
.theme-neon .exit-room {
    border: 2px solid #FB8;
    border-radius: 4px;
    box-shadow: 0 0 2px #FCA;
    background-color: #222;
}
.theme-neon option {
    color: inherit;
}

.theme-neon .message {
    text-shadow: 0px 0px 1.5px #AFC;
}
.theme-neon .server-content {
    color: #AAA;
    text-shadow: 0px 0px 2px #ACF;
}

/* Cosmic */

.theme-cosmic {
    background-image: linear-gradient(#225, #425);
    color: rgba(255, 255, 255, 0.6);
}
.theme-cosmic .bar {
    background-color: #536;
}
.theme-cosmic .bar:nth-child(1) {
    background-color: #336;
}
.theme-cosmic .server-content {
    color: rgba(255, 255, 255, 0.45);
}

.theme-cosmic .bar-tile,
.theme-cosmic .exit-room {
    border-color: rgba(0, 0, 0, 0.4);
}

/* Lava Lamp */

@keyframes hue-shift {
    from {filter: hue-rotate(0deg) blur(56px);} /* url(#lava) */
    to {filter: hue-rotate(360deg) blur(56px);}
}
@keyframes move {
    from {offset-distance: 0%;}
    to {offset-distance: 100%;}
}

svg {
    position: absolute;
}
.lava-blob {
    display: none;
}

.theme-lava {
    background-color: #111;
    color: #FFF;
}
.theme-lava .bar {
    background-color: rgba(96, 96, 96, 0.25);
}
.theme-lava .bar-tile,
.theme-lava .exit-room {
    border-color: rgba(192, 192, 192, 0.2);
}
.theme-lava .server-content {
    color: #AAA;
}

.theme-lava #lava {
    z-index: -1;
    position: absolute;
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
    overflow: hidden;
    animation: 30s linear hue-shift infinite;
}
.theme-lava .lava-blob {
    display: block;
    position: absolute;
    background-color: #A66;
    border-radius: 50%;
}

.theme-lava #lava-1 {
    height: 40vh;
    width: 40vh;
    animation: 51s linear -33s move infinite alternate;
    offset-path: ellipse(25% 40% at 68% 56%);;
}
.theme-lava #lava-2 {
    height: 60vh;
    width: 60vh;
    animation: 35s ease-in-out -20s move infinite;
    offset-path: ellipse(39% 34% at 51% 52%);
}
.theme-lava #lava-3 {
    height: 30vw;
    width: 30vw;
    animation: 40s ease move infinite;
    offset-path: ellipse(39% 18% at 52% 48%);
}
.theme-lava #lava-4 {
    height: 22vw;
    width: 22vw;
    animation: 58s cubic-bezier(.3,1.5,.7,-0.5) -13s move infinite reverse;
    offset-path: ellipse(29% 32% at 36% 50%);
}