/* Default Dark */

.theme-default-dark {
    background-color: #151515;
    color: #FFF;
}
.theme-default-dark .bar {
    background-color: #333;
}
.theme-default-dark .bar-tile {
    border-color: #888;
}
.theme-default-dark #dialog-window .bar-tile {
    background-color: #151515;
}
.theme-default-dark .server {
    color: #AAA;
}

/* Classic */

@font-face {
    font-family: 'Web IBM DOS ISO8';
    font-style: normal;
    font-weight: 400;
    src: url("web_ibm_dos_iso8.woff") format('woff');
}

.theme-classic {
    font-family: 'Web IBM DOS ISO8', monospace;
}
.theme-classic > .bar .bar-tile {
    background-color: #AAF;
    border-color: #CCF #88D #88D #CCF;
}
.theme-classic > .bar .bar-tile:active {
    border-color: #88D #CCF #CCF #88D;
}

.theme-classic .bar-tile {
    border-color: #DEDEDE #888 #888 #DEDEDE;
}
.theme-classic .bar-tile:active {
    border-color: #888 #DEDEDE #DEDEDE #888;
}

/* Terminal */

.theme-terminal {
    font-family: 'Web IBM DOS ISO8', monospace;
    background-color: #111;
    color: #FFF;
}
.theme-terminal .message {
    color: #3F3;
}
.theme-terminal .server {
    color: #AAA;
}

.theme-terminal .bar,
.theme-terminal .bar-tile {
    background-color: #333;
}

.theme-terminal .bar-tile {
    border-color: #555 #222 #222 #555;
}
.theme-terminal .bar-tile:active {
    border-color: #222 #555 #555 #222;
}

.theme-terminal #dialog-box {
    background-color: #151515;
}
.theme-terminal #dialog-window .bar-tile {
    background-color: #333;
}

/* Pinky */

.theme-pink {
    font-family: 'Web IBM DOS ISO8', monospace;
    background-image: linear-gradient(#ECE0D8, #E3BEC5);
}
.theme-pink .bar {
    background-color: #FDE;
    outline: 2px solid #555;
}
.theme-pink .bar-tile {
    background-color: #F1EAEE;
    border-color: #CCC #777 #777 #CCC;
}
.theme-pink .bar-tile:active {
    border-color: #777 #CCC #CCC #777;
}

/* Neon */

@font-face {
    font-family: 'Envy Code R';
    font-style: normal;
    font-weight: 400;
    src: url("envy_code_r.ttf") format('truetype');
}

.theme-neon {
    font-family: 'Envy Code R', sans-serif;
    /* background-image: linear-gradient(#222, #111); */
    background-color: #111;
    color: #FFF;
}
.theme-neon > .bar {
    /* https://css-tricks.com/how-to-create-neon-text-with-css/ */
    box-shadow: 0 0 2px #fff,
                0 0 2px #fff,
                0 0 6px #FE9813,
                0 0 12px #FE9813,
                inset 0 0 10px #FE9813;
}
.theme-neon .bar {
    background-color: transparent;
    margin: 12px;
    width: calc(100% - 24px);
    border-radius: 8px;
}

.theme-neon .bar-tile {
    border-radius: 8px;
    box-shadow: 0 0 1px #FFF,
                0 0 1px #FFF,
                0 0 6px #13B4FE,
                0 0 12px #13B4FE,
                inset 0 0 10px #13B4FE;
    border: none;
}
.theme-neon .exit-room {
    box-shadow: none;
}

.theme-neon option {
    color: inherit;
    background-color: #000;
}

.theme-neon #dialog-window .bar-tile {
    background-color: inherit;
}

.theme-neon .message {
    text-shadow: 0 0 3px #1FFE13;
}
.theme-neon .message a {
    color: #13F2FE;
    text-shadow: 0 0 3px #13F2FE;
}
/*
.theme-neon .message a:visited {
    color: #B013FE;
    text-shadow: 0 0 3px #B013FE;
}
*/
.theme-neon .server {
    color: #AAA;
    text-shadow: 0px 0px 2px #888;
}

.theme-neon #messages {
    padding: 0 16px;
}
.theme-neon #input {
    line-height: 24px;
}

/* Cosmic */

.theme-cosmic {
    background-image: linear-gradient(#225, #425);
    color: rgba(255, 255, 255, 0.6);
}
.theme-cosmic > .bar {
    background-color: #336 !important;
}
.theme-cosmic .bar {
    background-color: #536;
}
.theme-cosmic .server {
    color: rgba(255, 255, 255, 0.45);
}

.theme-cosmic .bar-tile {
    border-color: rgba(0, 0, 0, 0.4);
}
.theme-cosmic #dialog-window .bar-tile {
    background-color: inherit;
}